{% extends 'usertest/layout.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>Register</h1>
<form class="" action="{% url 'register' %}" method="post">
    {% csrf_token %}
        {{ regform.as_ul }}
    <input type="submit" value="Register">
</form>
<hr>
<h1>Login</h1>
<form class="" action="{% url 'login_request' %}" method="post">
        {% csrf_token %}
            {{ loginform.as_ul }}
        <input type="submit" value="Register">
    </form>

{% endblock %}