<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Update User Information</h1>
        <form action="/users/{{request.session.user_id}}/editing" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="{{first_name}}">
                <label for="last_name">Last Name</Label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="{{last_name}}">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="{{email}}" name="email">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="password" name="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>