
{% extends 'demo_1/layout.html' %}

{% block content %}

<div class="container">
    <div class="col border">
        <h1 class="m-3">Demo 1</h1>
        <div class="d-flex justify-content-around">
            <button id="json_btn" class="btn btn-primary">Fetch HttpResponse from user_login/all.json</button>
            <button id="html_btn" class="btn btn-primary">Fetch HttpResponse from user_login/all.html</button>
        </div>
        <div id="placeholder1" class="border m-3 p-1">Placeholder for Ajax content</div>
    </div>
</div>

<script>

$('#json_btn').click(function(){
    console.log("json button has been clicked")
    $.ajax({
        url: '/demo_1/all.json', 
        success: function(serverResponse){
            console.log('success. serverResponse:', serverResponse)
            $('#placeholder1').html(JSON.stringify(serverResponse))
        }
    })
});

$('#html_btn').click(function(){
    console.log("html button has been clicked")
    $.ajax({
        url: '/demo_1/all.html', 
        success: function(serverResponse){
            console.log('success. serverResponse:', serverResponse)
            $('#placeholder1').html(serverResponse)
        }
    })
});

</script>

{% endblock %}
