<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <a href="/dictionary">
        <h1>Hello {{ name }}!</h1>
    </a>
    <!-- this loop will display each turtle on n h3 -->
    {% for turtle in turtles %}
    <h3>{{ turtle }}</h3>
    {% endfor %}

    <!-- this displays as list -->
    <p>{{ turtles }}</p>    
</body>
</html>