<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends</title>
</head>
<body>
    <!-- we can use the line below to see all our data in our template -->
    {{ all_friends }}
    {{ one_friend }}
    <h1>These are all my friends!</h1>
    <!-- we can use the following to see a more structured output -->
    {% for friend in all_friends %}
        <p>ID: {{ friend['id'] }}</p>
        <p>First Name: {{ friend['first_name'] }}</p>
        <p>Lastt Name: {{ friend['last_name'] }}</p>
        <p>Occupaton: {{ friend['occupation'] }}</p>
        <p>Created: {{ friend['created_at'] }}</p>
        <p>Updated: {{ friend['updated_at'] }}</p>
        <a href="/friends/update/{{friend.id}}">Update</a>
        <form action='/remove_friend/{{friend.id}}' method='POST'>
            <input type='submit' value='Delete'>
        </form>
        <hr>
    {% endfor %}
  <h2>Add a Friend</h2>
  <form action='/friends' method='POST'>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
    <input type="submit" value="Add">
  </form>
</body>
</html>