<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="survey assignment will make use of form to capture client input, assign inputs to variables, have flask route to another page upon submission and that page will display the inputs from previous page as outputs in the html">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_survey.css') }}">
</head>
<body>
    <div class='container'>
        <form action='/result' method='POST'>
            Your Name: <input type='text' name='name' class='namefld'><br>
            Dojo Location: <select name='locations' class='locations'>
                <option value='San Jose'>San Jose</option>
                <option value='Seattle'>Seattle</option>
                <option value='Los Angeles'>Los Angeles</option>
                <option value='Dallas'>Dallas</option>
                <option value='Tysons Corner'>Tysons Corner</option>
                <option value='Chicago'>Chicago</option>
                <option value='Tulsa'>Tulsa</option>
                <option value='East Bay'>East Bay</option>
                <option value='Online'>Online</option>
            </select><br>
            Favorite Language: <select name='languages' class='languages'>
                <option value='Javascript'>Javascript</option>
                <option value='Python'>Python</option>
                <option value='Ruby'>Ruby</option>
                <option value='Mean'>Mean</option>
                <option value='Java'>Java</option>
                <option value='C#'>C#</option>
            </select><br>
            <p>Comment (Optional)</p>
            <textarea name="comment" rows="4"></textarea><br>
            <input type="submit" value="Submit">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
</body>
</html>