a {
    color: rgb(102, 0, 102);
    margin: 0.5rem;
}

h2, h4, h6 {
    color: rgb(202, 0, 51);
}

h2 {
    margin-bottom: 1rem;
}

textarea {
    margin: 0.5rem 0;
}

.review a, .other_reviews a, .nested_link {
    margin: 0;
}

.other_reviews {
    overflow: auto;
    padding: 1rem 3rem;
}

.btn-primary {
    background-color: rgb(102, 0, 102);
    border: none;
}

ul {
    list-style: none;
}