<div class="container">
  <app-cockpit 
  (createdServer)="onServerAdded($event)"
  (createdBlueprint)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-warning" (click)="changeFirst()">Click to change first element to default</button>
      <button type="button" class="btn btn-warning" (click)="destroyFirst()">Destroy first</button>
      <app-server-element 
        *ngFor="let serverElement of serverElements"
        [element]="serverElement"
        [name]="serverElements[0].name">
      </app-server-element>
    </div>
  </div>
</div>

<!-- binding [element] that is an @Input() in a child component, app-server-element component, to each particular serverElement of the serverElements array in the app.component -->
<!-- binding (createdServer) that is an @Output() of a child component, cockpit.component.  This triggers a method to which we pass the $event.  The $event is parsed easily thanks to the use of data structure {name:string, content:string} that is present in the event emitter as well as in the method parameters -->