<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message Wall</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <form action="/logout" method="post">
            <button type="button" class="btn btn-dark">Logout</button>
        </form>
        <h2>Welcome {{ logged_user }}!</h2>
        <div class="row">
            <h3>Post a fun message on the wall...</h3>
            <form action="/messages" method="post">
            <textarea name="message" cols="120" rows="3"></textarea>
            <input type="submit" class="btn btn-primary">
            </form>
            {% for message in all_messages %}
                <div class="message">
                    <h4>{{ message.message }} -posted by {{ message.posted_by }} on {{ message.message_date }}</h4>
                    {% if message.posted_by_id == session['user_id'] %}
                    <form action="/delete/{{message.message_id}}" method="post">
                        <button type="button" class="btn btn-link">Delete Message</button>
                    </form>
                    {% endif %} 
                        {% for comment in message %}
                            <ul>
                            {% if message.commented_message == message.message_id: %}
                                <li class="comment">{{ message['comment'] }} -commented by {{ message['commentator'] }} on {{ message['comment_date'] }}</li>
                            {% endif %}
                            </ul>
                        {% endfor %}
                </div>    
                <form action="/comment/{{message.message_id}}" method="post">
                    <textarea name="comment" cols="100" rows="1"></textarea>
                    <button type="submit" class="btn btn-info btn-sm">Comment</button>
                </form>
            {% endfor %}
        </div>    
    </div>
</body>
</html>