<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
</head>
<body>
    <h1>Thank you for your business!</h1>
    <h3>This purchase total is ${{ total }}.</h3>
    <h3>Your lifetime total purchases since last reset have been {{ quantity_total }} items for a total of ${{ rolling_total }}.</h3>
    <a href="/amadon"><button type="submit">Go Back</button></a>
    <a href="/amadon/reset"><button type="submit">Reset Purchase History</button></a>
    
</body>
</html>