need two packages

in MAC:

1. connect python with MySQL

pip install MySQL-python==1.2.5

2. connect Flask with MySQL

pip install Flask-SQLAlchemy==2.1

in PC:

pip install Flask-SQLAlchemy==2.1 mysqlclient==1.3.4