{% extends 'login_reg/layout.html' %}

{% block content %}

<div class="row justify-content-end">
    <div class="col">
        <ul class="messages mt-5 mb-0">
            {% for log_message in messages %}
            <li 
            {% if log_message.tags == "error" %} 
                class="text-white bg-warning"
            {% elif log_message.tags == "success" %}
                class="text-white bg-success" 
            {% endif %}>{{ log_message }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-4">
        <h3>Existing Users</h3>
        <form action="/login" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password">
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-4">
        <h3>New Users</h3>
        <form action="/register" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="first_name" class="form-control" placeholder="First Name">
                <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                <input type="email" name="email" class="form-control" placeholder="Email">
                <input type="text" name="username" class="form-control" placeholder="Username">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password">
                <button type="submit" class="btn btn-primary btn-block">Submit registration</button>
            </div>
        </form>
    </div>
</div>
    {% endblock %}