*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1 rem is; 10/16 because browser default is 16 and we want to convert to 10
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
