<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_dashboard/css/style.css' %}">
</head>
<body>
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <ul class="messages mt-5 mb-0">
                    {% for log_message in messages %}
                    <li 
                    {% if log_message.tags == "error" %} 
                        class="text-white bg-warning"
                    {% elif log_message.tags == "success" %}
                        class="text-white bg-success" 
                    {% endif %}>{{ log_message }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>Update contact</h3>
                <form action="/users/editing/{{ id }}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="fname" class="form-control" placeholder="{{ fname }}">
                        <input type="text" name="lname" class="form-control" placeholder="{{ lname }}">
                        <input type="email" name="email" class="form-control" placeholder="{{ email }}">
                        <input type="text" name="uname" class="form-control" placeholder="{{ uname }}">
                        <button type="submit" class="btn btn-dark btn-block">Submit update</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <h3>Change password</h3>
                <form action="/users/updating_pw/{{ id }}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" name="pword" class="form-control" placeholder="New Password">
                        <input type="password" name="pword_confirm" class="form-control" placeholder="Confirm New Password">
                        <button type="submit" class="btn btn-dark btn-block">Submit change</button>
                    </div>
                </form>
                <div class="d-flex justify-content-end mt-5">
                    <a href="/users/dashboard"><button type="button" action="/login" method="get" class="btn btn-outline-light btn-sm px-3">Back to dashboard</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>