.container {
    background-color: #CF7220;
}
h1 {
    color: #7220CF;
}

h3, th, a>p {
    color: #731277;
}

h4 {
    color: #4D064F;
}

p, td {
    color: #1F0220;
}

button {
    opacity: 0.7;
}

input[type=text], input[type=password], input[type=email] {
    background-color: #C5C281;
}

li {
    list-style: none;
    padding: 0.3rem;
}

a.delete, a.edit, a.update {
    color: #C5C281;
    background-color: #731277;
}

a.show {
    color: #731277;
}

a>p {
    margin-top: 1em;
    display: inline-block;
    padding: 0.3em 0.6em;
    background-color: #C5C281;
}

.btn-sm {
    margin: 1rem;
}