.container {
    background-color: rgb(179, 205, 238);
}
h1 {
    color: #7220CF;
}

h3, h5, th, a>p {
    color: #731277;
}

h2, h4 {
    color: #4D064F;
}

h6, p, td {
    color: #1F0220;
}

.btn-outline-light {
    color: #1F0220;
    border-color: #1F0220;
}

input[type=text], input[type=password], input[type=email] {
    background-color: rgb(245, 239, 153);
}

li {
    list-style: none;
    padding: 0.3rem;
}

button {
    font-size: 0.8rem;
    color: #1F0220;
    background-color: #e3d2e4;
    border: 1px solid #1F0220;
    padding: 0.2rem;
    border-radius: 0.2rem;
    opacity: 0.9;
}

button.submit_message {
    font-size: 1rem;
    background-color: white;
    margin-bottom: 1rem;
}

button.submit_comment {
    font-size: 1rem;
    background-color: white;
}

a.show {
    color: #731277;
}

a.logout {
    color: #1F0220;
    margin-left: 1rem;
}

a>p {
    margin-top: 1em;
    display: inline-block;
    padding: 0.3em 0.6em;
    background-color: #C5C281;
}

.btn-sm {
    margin: 1rem;
}

.user_dash>p {
    margin: 0;
    padding: 0;
}

.row.dashboard {
    margin-bottom: 1em;
    padding: 1em;
}

.user_dash {
    background-color: rgb(191, 165, 203);
    border-radius: 0.3rem;
}

.wall {
    background-color: white;
}

#message {
    font-size: 0.8rem;

}

p.author_name {
    font-size: 0.7rem;
    margin-bottom: 0;
}

p.author_time {
    font-size: 0.7rem;
    font-style: italic;
    margin-bottom: 0;
}

.wall_message {
    background-color: rgb(168, 150, 196);
    padding: 0.7rem;
    margin-bottom: 0.3rem;
    border-radius: 0.3rem;
}

.wall_comment {
    background-color: rgb(223, 188, 223);
    padding: 0.7rem;
    margin-bottom: 0.3rem;
    border-radius: 0.3rem;
}